body{
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.card-main{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 1040px;
}


.card{
  display: flex;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.title{
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}
